# Dependencies
/node_modules

# Build artifacts
/dist
/build
/.next
/.vercel
/.turbo
/coverage

# Environment variables
.env
.env.*
!.env.example

# IDE and OS files
.DS_Store
.vscode/
.idea/
.vercel
.env*.local
